$white-color:#fff;
$active-color:#ff5357;
$default-color: #3e3e3e;
$default-border-color: #ededed;
$disabled-color:#ccc;
$disabled-border-color:#ededed;
$input-border-color:#ededed;
$btn-active-color:#f40;

.paging-box {
    .paging-item,
    .paging-first,
    .paging-last,
    .paging-prev,
    .paging-next {
        display: inline-block;
        position: relative;
        transition: color,background-color,border-color .1s linear;
        margin-left: -1px;
        border: solid 1px $default-border-color;
        cursor: pointer;
        width: 35px;
        height: 35px;
        text-align: center;
        text-decoration: none;
        line-height: 35px;
        color: $default-color;

        &:hover {
            z-index: 1;
            border-color: $active-color;
            color: $active-color;
        }
    }

    .paging-item.paging-curr {
        position: relative;
        z-index: 1;
        border-color: $active-color;
        background: $active-color;
        cursor: default;
        text-decoration: none;
        color: $white-color;
    }

    .paging-dot {
        display: inline-block;
        margin: 0 5px;
    }

    .paging-prev,
    .paging-next {
        margin: 0 5px;
        width: 80px;

        &.paging-disabled {
            border-color: $disabled-border-color;
            color: $disabled-color;
        }
    }

    .paging-total {
        margin-left: 10px;
        color: $default-color;
    }

    .paging-skip {
        display: inline-block;
        margin-left: 10px;
        line-height: 35px;
        color: $default-color;

        input {
            margin: 0 5px;
            border: solid 1px $input-border-color;
            width: 35px;
            height: 22px;
            text-align: center;
            line-height: 22px;
        }

        button {
            transition: color,border-color .1s linear;
            margin-left: 10px;
            border: solid 1px $input-border-color;
            background: $white-color;
            cursor: pointer;
            width: 60px;
            height: 28px;
            text-align: center;
            text-decoration: none;
            line-height: 28px;

            &:hover {
                z-index: 1;
                border-color: $btn-active-color;
                color: $btn-active-color;
            }
        }
    }
}
